@font-face {font-family: "DS-Digital";
	src: url("fonts/DS-Digital.eot");
  src: url("fonts/DS-Digital-iefix.eot") format("embedded-opentype"),
     		 url("fonts/DS-Digital.woff2") format("woff2"),
		 url("fonts/DS-Digital.woff") format("woff"),
		 url("fonts/DS-Digital.ttf") format("truetype"),
		 url("fonts/DS-Digital.svg") format("svg");
}
@keyframes blink {
    from {background-color: #313729;}
    to {background-color: #7E916C;}
}
body {
    width: 100%;
    height: 100%;
    background-color: #D9DBC5;
    margin:0;
    padding: 0;
    -moz-user-select:none;
    -webkit-user-select:none;
    -o-user-select:none;
    -ms-user-select:none;
    -khtml-user-select:none;
    user-select:none;
}
body div {
    margin:0;
    padding: 0;
    line-height: 0;
}
img[src$=".svg"] {
    width: 100%;
    height: 100%;
}
fieldset {
    display: block;
    position: static;
    width: 0;
    margin: 5px auto 0;
    padding: 0 3.5px 3.5px;
    border: 2px solid #911;
}

legend {
    margin: 0 auto;
    font-family: impact;
    height: 4vh;
    width: 24vh;
    min-height: 16px;
    min-width: 96px;
    background-size: 100% 100%;
    background-image: url('./media/snek.svg');
    border-left: 5px solid #D9DBC5;
    border-right: 5px solid #D9DBC5;
}
.screen {
    width: 100%;
    height: 100%;
    position: relative;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 4px 0 #313729, 4px 0 4px 0 #f8f9e3, -4px 0 4px 0 #97998c;
    -webkit-box-shadow: 1px 1px 4px 0 #313729, 4px 0 4px 0 #f8f9e3, -4px 0 4px 0 #97998c;
    box-shadow:inset 1px 1px 4px 0 #313729, 4px 0 4px 0 #f8f9e3, -4px 0 4px 0 #97998c;
}
.screenBorder {
    display: block;
    position: relative;
    background-color: #909D83;
    margin: 0 auto;
    width: 42vh;
    height: 58vh;
    min-width: 168px;
    min-height: 234px;
    border-width: 10px;
    border-style: solid;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-top-color: #d6d8c3;
    border-left-color: #bdbfae;
    border-bottom-color: #caccb7;
    border-right-color: #e3e5ce;
    z-index: -1;
}
.display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    float: left;
    width: 27.5vh;
    height: 55vh;
    min-width: 110px;
    min-height: 220px;
    outline: 2px solid #313729;
    margin: 4% 0 4% 3%;
    padding: 0 2px;
}
#pixel {
    float: inherit;
    width: 2.75vh;
    height: 2.75vh;
    min-width: 11px;
    min-height: 11px;
    background-image: url('./media/pixel.svg');
    background-color: #7E916C;
    background-size: contain;
    background-clip: border-box;
    outline: #909D83 solid 1px;
}
#pixel[status="on"] {
    background-color: #313729;
}
#pixel[blink="on"] {
    animation-name: blink;
    animation-duration: .2s;
    animation-iteration-count: infinite;
}
.side {
    position: relative;
    float: right;
    width: 10vh;
    height: 55vh;
    min-width: 40px;
    min-height: 222px;
    margin: 2% 3% 2% 0;
    color: #313729;
}
.side div {
    position: relative;
    text-align: center;
    font-family: arial;
    font-style: italic;
    font-size: 7px;
    line-height: 15px;
    margin-bottom: 5px;
}
.side p {
    margin: 0;
    font-style: normal;
    position: relative;
    line-height: 15px;    
}
.level {
    margin-top: 12px;
}
#score, #hi-score {
    font-family: "DS-Digital";
    font-size: 14px;
}
#level {
    font-family: "DS-Digital";
    font-size: 25px;
    margin-top: 4px;
}
#speed {
    font-family: "DS-Digital";
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 4px;
}
#pause {
    color: #7E916C;
    fill: #7E916C;
    margin-top: 20px;
}
#pause svg {
    height: 5vh;
    width: 5vh;
    min-height: 25px;
    min-width: 25px;
    margin-top: 4px;
}
.controls {
    position: relative;
    margin: 3.5px auto 0;
    height: 8vh;
    width: 42vh;
    min-height: 32px;
    min-width: 168px;
}
.controls p{
    text-align: center;
    margin: 0;
    color: #041b17;
    font: bold small-caps 10px Tahoma, Geneva, sans-serif;
}
.start-container, .pause-container {
    display: inline-block;
    height: 8vh;
    width: 9vh;
    min-height: 28px;
    min-width: 36px;
}
.start-container {
  float: left;
}
.pause-container {
  float: right;
}
.start, .pause {
    height:2.5vh;
    width:8vh;
    min-height:10px;
    min-width:32px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.start:before, .pause:before {
    height:2.5vh;
    width:8vh;
    min-height:10px;
    min-width:32px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
}
.arrows {
    position: relative;
    margin: -32px auto;
    width: 27vh;
    height: 27vh;
    min-width: 108px;
    min-height: 108px;
}
.button {
    height:9vh;
    width:9vh;
    min-height:36px;
    min-width:36px;
    -webkit-border-radius:100%;
    border-radius:100%;
}
.button, .start, .pause {
    position:relative;
    background:#f6f674;
    background: linear-gradient(to bottom,#FFFF77 0%,#E5E56B 100%);
    -moz-border-radius:100%;
    cursor:pointer;
    top:-3px;
    left:-3px;
    -moz-transition:all .1s ease-out;
    -webkit-transition:all .1s ease-out;
    transition:all .1s ease-out;
    -moz-transition-property:-moz-box-shadow, -webkit-box-shadow, box-shadow, top, left;
    -webkit-transition-property:-moz-box-shadow, -webkit-box-shadow, box-shadow, top, left;
    transition-property:-moz-box-shadow, -webkit-box-shadow, box-shadow, top, left;
    position:relative;
    -moz-box-shadow:
      inset -1px -1px 3px 0 rgba(0,0,0,.1),
      inset 1px 1px 1px 0 rgba(255,255,255,.8);
    -webkit-box-shadow:
      inset -1px -1px 3px 0 rgba(0,0,0,.1),
      inset 1px 1px 1px 0 rgba(255,255,255,.8);
    box-shadow:
      inset -1px -1px 3px 0 rgba(0,0,0,.1),
      inset 1px 1px 1px 0 rgba(255,255,255,.8);
}
.button:before {
    -moz-border-radius:100%;
    -webkit-border-radius:100%;
    border-radius:100%;
    height:9vh;
    width:9vh;
    min-height:36px;
    min-width:36px;
}
.button:before, .start:before, .pause:before {
    display:inline-block;
    content:'';
    position:absolute;
    z-index:-1;
    top:3px;
    left:3px;
    background-color:#CECE44;
    -moz-transition:all .1s ease-out;
    -webkit-transition:all .1s ease-out;
    transition:all .1s ease-out;
    -moz-transition-property:-moz-box-shadow, -webkit-box-shadow, box-shadow, top, left;
    -webkit-transition-property:-moz-box-shadow, -webkit-box-shadow, box-shadow, top, left;
    transition-property:-moz-box-shadow, -webkit-box-shadow, box-shadow, top, left;
    -moz-box-shadow:
      inset -1px 0 2px 1px rgba(0,0,0,.2),
      0 0 0 1px rgba(0,0,0,.2),
      0 0 6px rgba(0,0,0,.2),
      3px 3px 3px rgba(0,0,0,.3),
      5px 5px 4px rgba(0,0,0,.1); 
    -webkit-box-shadow:
      inset -1px 0 2px 1px rgba(0,0,0,.2),
      0 0 0 1px rgba(0,0,0,.2),
      0 0 6px rgba(0,0,0,.2),
      3px 3px 3px rgba(0,0,0,.3),
      5px 5px 4px rgba(0,0,0,.1); 
    box-shadow:
      inset -1px 0 2px 1px rgba(0,0,0,.2),
      0 0 0 1px rgba(0,0,0,.2),
      0 0 6px rgba(0,0,0,.2),
      3px 3px 3px rgba(0,0,0,.3),
      5px 5px 4px rgba(0,0,0,.1); 
}
.button:active, .button[pressed="true"], .start:active, .pause:active, .start[pressed="true"], .pause[pressed="true"] {
    top:0;
    left:0;
    -moz-box-shadow:
      inset -1px -1px 3px 0 rgba(0,0,0,.2),
      inset 1px 1px 3px 0 rgba(0,0,0,.2);
    -webkit-box-shadow:
      inset -1px -1px 3px 0 rgba(0,0,0,.2),
      inset 1px 1px 3px 0 rgba(0,0,0,.2);
    box-shadow:
      inset -1px -1px 3px 0 rgba(0,0,0,.2),
      inset 1px 1px 3px 0 rgba(0,0,0,.2);
}
.button:active:before, .button[pressed="true"]:before, .start:active:before, .pause:active:before, .start[pressed="true"]:before, .pause[pressed="true"]:before {
    top:0;
    left:0;
    -moz-box-shadow:
      0 0 0 1px rgba(0,0,0,.2),
      2px 2px 2px rgba(255,255,255,.4);
    -webkit-box-shadow:
      0 0 0 1px rgba(0,0,0,.2),
      2px 2px 2px rgba(255,255,255,.4);
    box-shadow:
      0 0 0 1px rgba(0,0,0,.2),
      2px 2px 2px rgba(255,255,255,.4);
}
.cross {
    position: relative;
    height: 9vh;
    width: 9vh;
    min-height: 36px;
    min-width: 36px;
    background-image: url('./media/cross.svg');
    background-size: 100% 100%;
}
@media all and (min-height: 400px) {
  fieldset {
      margin-top: 1.25vh;
      padding: 0 1vh 1vh;
      border-width: .5vh;
      font-size: 4vh;
  }

  legend {
      border-left-width: 1.25vh;
      border-right-width: 1.25vh;
  }
  .screen {
      -moz-border-radius: .5vh;
      -webkit-border-radius: .5vh;
      border-radius: .5vh;
      -moz-box-shadow:inset .25vh .25vh 1vh 0 #313729, 1vh 0 1vh 0 #f8f9e3, -1vh 0 1vh 0 #97998c;
      -webkit-box-shadow:inset .25vh .25vh 1vh 0 #313729, 1vh 0 1vh 0 #f8f9e3, -1vh 0 1vh 0 #97998c;
      box-shadow:inset .25vh .25vh 1vh 0 #313729, 1vh 0 1vh 0 #f8f9e3, -1vh 0 1vh 0 #97998c;
  }
  .screenBorder {
      margin: 0 auto;
      border-width: 2.5vh;
      -moz-border-radius: .5vh;
      -webkit-border-radius: .5vh;
      border-radius: .5vh;
  }
  .display {
      outline: .5vh solid #313729;
      padding: 0 .5vh;
  }
  .side div {
      font-size: 1.75vh;
      line-height: 3.75vh;
      margin-bottom: 1.25vh;
  }
  .side p {
      line-height: 3.75vh;
  }
  .level {
      margin-top: 3vh;
  }
  #score, #hi-score {
      font-size: 3.5vh;
  }
  #level {
      font-size: 6.25vh;
      margin-top: 1vh;
  }
  #speed {
      font-size: 6.25vh;
      margin-top: 3.75vh;
      margin-bottom: 1vh;
  }
  #pause {
      color: #7E916C;
      margin-top: 5vh;
  }
  #pause svg {
      margin-top: 1vh;
  }
  .controls {
      margin-top: 1vh;
  }
  .controls p{
      font: bold small-caps 2.5vh Tahoma, Geneva, sans-serif;
  }
  .start, .pause {
      position: relative;
      top:-.75vh;
      left:-.75vh;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;
  }
  .start:before, .pause:before {
      display:inline-block;
      top:.75vh;
      left:.75vh;
      -moz-border-radius:10px;
      -webkit-border-radius:10px;
      border-radius:10px;
  }
  .arrows {
      margin: -8vh auto;
  }
  .button {
      top:-.75vh;
      left:-.75vh;
  }
  .button:before {
      top:.75vh;
      left:.75vh;
  }
  .button, .start, .pause {
      -moz-box-shadow:
        inset -.25vh -.25vh .75vh 0 rgba(0,0,0,.1),
        inset .25vh .25vh .25vh 0 rgba(255,255,255,.8);
      -webkit-box-shadow:
        inset -.25vh -.25vh .75vh 0 rgba(0,0,0,.1),
        inset .25vh .25vh .25vh 0 rgba(255,255,255,.8);
      box-shadow:
        inset -.25vh -.25vh .75vh 0 rgba(0,0,0,.1),
        inset .25vh .25vh .25vh 0 rgba(255,255,255,.8);
  }
  .button:before, .start:before, .pause:before {
      -moz-box-shadow:
        inset -.25vh 0 .5vh .25vh rgba(0,0,0,.2),
        0 0 0 .25vh rgba(0,0,0,.2),
        0 0 1.5vh rgba(0,0,0,.2),
        .75vh .75vh .75vh rgba(0,0,0,.2),
        1.25vh 1.25vh 1vh rgba(0,0,0,.1); 
      -webkit-box-shadow:
        inset -.25vh 0 .5vh .25vh rgba(0,0,0,.2),
        0 0 0 .25vh rgba(0,0,0,.2),
        0 0 1.5vh rgba(0,0,0,.2),
        .75vh .75vh .75vh rgba(0,0,0,.3),
        1.25vh 1.25vh 1vh rgba(0,0,0,.1); 
      box-shadow:
        inset -.25vh 0 .5vh .25vh rgba(0,0,0,.2),
        0 0 0 .25vh rgba(0,0,0,.2),
        0 0 1.5vh rgba(0,0,0,.2),
        .75vh .75vh .75vh rgba(0,0,0,.3),
        1.25vh 1.25vh 1vh rgba(0,0,0,.1); 
  }
  .button:active, .button[pressed="true"], .start:active, .pause:active, .start[pressed="true"], .pause[pressed="true"] {
      -moz-box-shadow:
        inset -.25vh -.25vh .75vh 0 rgba(0,0,0,.2),
        inset .25vh .25vh .75vh 0 rgba(0,0,0,.2);
      -webkit-box-shadow:
        inset -.25vh -.25vh .75vh 0 rgba(0,0,0,.2),
        inset .25vh .25vh .75vh 0 rgba(0,0,0,.2);
      box-shadow:
        inset -.25vh -.25vh .75vh 0 rgba(0,0,0,.2),
        inset .25vh .25vh .75vh 0 rgba(0,0,0,.2);
  }
  .button:active:before, .button[pressed="true"]:before, .start:active:before, .pause:active:before, .start[pressed="true"]:before, .pause[pressed="true"]:before {
      -moz-box-shadow:
        0 0 0 .25vh rgba(0,0,0,.2),
        .5vh .5vh .5vh rgba(255,255,255,.4);
      -webkit-box-shadow:
        0 0 0 .25vh rgba(0,0,0,.2),
        .5vh .5vh .5vh rgba(255,255,255,.4);
      box-shadow:
        0 0 0 .25vh rgba(0,0,0,.2),
        .5vh .5vh .5vh rgba(255,255,255,.4);
  }
}
